<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-2 car-font">Wrong password. Please go back and log-in again or sign-up a new account.</h1>
    <hr>
  </div>
</div>
