<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3 car-font">EasyCar</h1>
    <p class="lead car-font">Please login with your email and password or sign-up now!</p>
    <hr>
    <a class="btn btn-light btn-lg car-font" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg car-bg" href="/login" role="button">Login</a>

  </div>
</div>