<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-2 car-font">Welcome to EasyCar!</h1>
    <p class="display-4 car-font car-rent">Rent or Lend your car today.</p>
    <p class="car-text car-bg">Thank you for joining. This is a microservice of the main website only.</p>
    <hr>
  </div>
</div>
